<!DOCTYPE html>
{% extends 'gamestrike_app/base.html' %}

{% block body_block %}
  <title>GameStrike - Reset Password</title>
  <div class="flex-container">
    <div style="margin-bottom: 75px;" class="stretch-container">
      <h1 class="login-heading heading-large">Reset Password</h1>
      <div class="form-container">
        <form class="password-reset-form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
