<!DOCTYPE html>
{% extends 'gamestrike_app/base.html' %}

{% block body_block %}
  <title>GameStrike - Email Confirmation</title>
  <div class="flex-container">
    <div style="margin-bottom: 75px; width: 50%;" class="stretch-container">
      <h1 class="login-heading heading-large">Confirmation</h1>
      <div class="form-container">
        <p>
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
