<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>Index Page</h1>
    {{ test_message }}
    <h3>Games</h3>
    <ul>
      <li><a href="http://10.3.17.246:8000/admin">Admin Page</a></li>
      <li><a href="http://10.3.17.246:8000/death-row">Death Row</a></li>
      <li><a href="http://10.3.17.246:8000/the-idiot-test">Idiot Test</a></li>
      <li><a href="http://10.3.17.246:8000/the-vision-test">Vision Test</a></li>
      <li><a href="http://10.3.17.246:8000/escape-the-prison">Escape the Prison</a></li>
      <li><a href="http://10.3.17.246:8000/bathroom-simulator">Bathroom Simulator</a></li>
      <li><a href="http://10.3.17.246:8000/papas_tacomia">TacoMia</a></li>
      <li><a href="http://10.3.17.246:8000/papas_hotdoggeria">HotDoggeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_pancakeria">Pancakeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_pastaria">Pastaria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_cheeseria">Cheeseria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_pizzeria">Pizzeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_freezeria">Freezeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_wingeria">Wingeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_cupcakeria">Cupcakeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_sushiria">Sushiria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_burgeria">Burgeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_donuteria">Donuteria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_bakeria">Bakeria</a></li>
      <li><a href="http://10.3.17.246:8000/papas_scooperia">Scooperia</a></li>
      <li><a href="http://10.3.17.246:8000/agar_io">Agario</a></li>
      <li><a href="http://10.3.17.246:8000/hole_io">Holio</a></li>
      <li><a href="http://10.3.17.246:8000/surviv_io">Survivio</a></li>
      <li><a href="http://10.3.17.246:8000/wormate_io">Wormatio</a></li>
      <li><a href="http://10.3.17.246:8000/zombsroyale_io">Zombs</a></li>
      <li><a href="http://10.3.17.246:8000/slither_io">Slitherio</a></li>
      <li><a href="http://10.3.17.246:8000/paper_io">Paperio</a></li>
      <li><a href="http://10.3.17.246:8000/milionaire_2018">Milionaire</a></li>
    </ul>

  </body>
</html>
