<!DOCTYPE html>
{% extends 'gamestrike_app/base.html' %}
  {% block body_block %}
    <title>GameStrike - Login</title>
    <div class="flex-container">
      <div style="margin-bottom: 75px;" class="stretch-container">
        <h1 class="login-heading heading-large">Login</h1>
        <div class="form-container">
          <!-- <h1 style="color: rgb(48,48,48);" class="heading-large">Login</h1> -->
          <form class="login-form" method="post">
            {% csrf_token %}
            <input class="login-input" type="text" name="username" placeholder="Username">
            <br>
            <input class="login-input" type="password" name="password" placeholder="Password">
            <br>
            <input class="login-input login-submit" type="submit" value="Login">
          </form>
          <div style="margin: 10px 0;">
            <a style="color: black;" href="/password_reset/">Forgot Password?</a>
            <br>
            <p style="display: inline;">Have an account?</p>
            <a style="color: black;" href="/register/">Register Here</a>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
