<!DOCTYPE html>
{% extends 'gamestrike_app/base.html' %}

{% block body_block %}
  {% if validlink %}
    <title>GameStrike - Change Password</title>
    <div class="flex-container">
      <div style="margin-bottom: 75px; width: 50%;" class="stretch-container">
        <h1 class="login-heading heading-large">Change Password</h1>
        <div class="form-container">
          <form class="password-reset-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <title>GameStrike - Expired Link</title>
    <div class="flex-container">
      <div style="margin-bottom: 75px; width: 50%;" class="stretch-container">
        <h1 class="login-heading heading-large">Expired</h1>
        <div class="form-container">
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
