<!DOCTYPE html>
{% extends "gamestrike_app/base.html" %}
{% block body_block %}
  <title>GameStrike - 403 Permission Denied</title>
  <div class="flex-container">
    <div style="margin-bottom: 75px; width: 50%;" class="stretch-container">
      <h1 class="login-heading heading-large">Permission Denied</h1>
      <div class="form-container">
        <p>We're sorry, but you don't have permission to this page, therefore restricting your access! Please return to the main website with the links above, or contact us through support!</p>
      </div>
    </div>
  </div>
{% endblock %}
