<!DOCTYPE html>
{% extends "gamestrike_app/base.html" %}
{% block body_block %}
  <title>GameStrike - 400 Bad Request</title>
  <div class="flex-container">
    <div style="margin-bottom: 75px; width: 50%;" class="stretch-container">
      <h1 class="login-heading heading-large">Bad Request</h1>
      <div class="form-container">
        <p>We're sorry, your HTTP request to this page was corrupted! Please return to the main website with the links above, or contact us through support!</p>
      </div>
    </div>
  </div>
{% endblock %}
